/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: 20rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 4rem;
  font-weight: 900;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsListSection {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    display: flex;
    align-items: center;
    padding: 2rem 1rem 1rem;
  }

  .heroTitle {
    font-size: 3rem;
  }  
}