/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 0;
  min-height: 20rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-weight: 900;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 2rem 0;
    min-height: 16rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsListSection {
  padding-top: 3rem;
  padding-bottom: 6rem;
}