/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: 20rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  padding: 20px;
  width: 130px;
  height: 130px;
}

.heroTitle {
  font-weight: 900;
  font-size: 3.2rem;
}

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectKeywords {
  color: var(--ifm-color-primary);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.docsListSection {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    display: flex;
    align-items: center;
    padding: 2rem 1rem 1rem;
  }
}
