.cardLink {
  color: #333333;
}

.cardLink:hover {
  color: var(--ifm-link-color);
  cursor: pointer;
  text-decoration: none;
}

html[data-theme="dark"] .cardLink {
  color: #ffffff;
}

html[data-theme="dark"] .cardLink:hover {
  color: var(--ifm-link-color);
}
